.bm-gal-slider {
  background: transparent;
  position: relative;
  width: 100%;
  height: 200px;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: height 0.3s;
}

.bm-gal-slider * {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.bm-gal-slider .bm-gal-ctnr {
  width: 1400px;
  height: 500px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  overflow: hidden;
}

.bm-gal-slider .bm-gal-ctnr .bm-slide {
  position: relative;
  display: none;
  width: 100%;
  height: 100%;
}

.bm-gal-slider .bm-gal-ctnr .bm-slide:nth-child(1) {
  display: block;
}

.bm-gal-slider .bm-gal-ctnr .bm-slide > * {
  position: absolute;
  max-width: 99%;
  max-height: 100%;
  white-space: nowrap;
}

/* arrow NAV*/

.bm-gal-slider .bm-nav {
  position: absolute;
  top: 0;
  cursor: pointer;
  background: transparent;
  height: 100%;
  width: 10%;
  max-width: 60px;
  min-width: 50px;
  text-align: center;
  z-index: 10000;
}

.bm-gal-slider .bm-nav div {
  background: #fff;
  height: 35px;
  width: 35px;
  min-width: 20px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
}

.bm-gal-slider .bm-nav img {
  width: 9px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}

.bm-gal-slider:hover .bm-nav div {
  opacity: 1;
  visibility: visible;
  transition: all 0.2s;
}

.bm-gal-slider .bm-nav div:hover {
  transform: scale(1.1);
  background: rgb(250, 250, 250);
}

.bm-gal-slider .bm-nav#prev {
  left: 0;
}

.bm-gal-slider .bm-nav#next {
  right: 0;
}

/* bullet NAV*/

.bm-gal-slider .bm-sldcnt {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  color: #fff;
  text-align: center;
  min-height: 30px;
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.bm-gal-slider:hover .bm-sldcnt {
  visibility: visible;
  opacity: 1;
}

.bm-gal-slider .bm-sldcnt span {
  display: inline-block;
  padding: 0.12%;
  min-width: 12px;
  min-height: 12px;
  max-width: 15px;
  max-height: 15px;
  border-radius: 100%;
  border-radius: 100%;
  margin: 0 5px;
  border: #fff solid 2px;
  cursor: pointer;
  transition: all 0.2s;
  background: #fff;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.24);
}

.bm-gal-slider .bm-sldcnt span:hover {
  box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.8);
  transform: scale(1.15);
}

.bm-gal-slider .bm-sldcnt span.current-slide {
  transform: scale(1.35);
  box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.8);
}

.bm-gal-ctnr .bm-ui-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.bm-gal-ctnr .bm-ui-loading span {
  display: block;
  width: 90px;
  height: 90px;
  background-color: #fff;
  background-image: url("images/sldr-loading.gif");
  background-repeat: no-repeat;
  background-size: 50px auto, contain;
  background-position: center;
  border-radius: 100%;
  box-shadow: 0px 0px 20px 0px #777;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
